/*
Colors used

Text Color (Default/Black for now): N/A;
Primary Color: #5374c4;
Secondary Color: #e0b354;
 */

:root {
  --primary-color: #5374c4;
  --secondary-color: #e0b354;
  --webpage-background: #4265ff;
  --visited-link: #f4fff9;
  --active-link: #fcf8f8;
  --grid-color:  #a6bbe2;
  --button-border: #0000004d;
  --button-text: #2b2b2b;
 }

body  {
  background-color: var(--webpage-background);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

a {
  color: var(--active-link);
  font-size: 20px;
  line-height: normal;
}

p {
  font-size: 16px;
  line-height: normal;
}  

#table {
  margin: auto;
}

a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
  
a:active {
  color: var(--active-link);
}

.button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--webpage-background);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--button-border);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--button-text);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--button-border);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button__secondary:hover, .button__secondary:focus, .button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

#profile__portrait {
  float: top;
  max-width: 250px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 15px;
  border-radius: 50%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.header-container {
  border-bottom: solid black 1px;
  padding-top: 10px;
  text-align: center;
}

.profile-container {
  background-color: var(--grid-color);
  height: 700px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}

#about-description-container, #about-skills-container {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid black 1px;
}

#about-work-together {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-style: bold;
}

.profile-container-about {
  background-color: var(--grid-color);
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

#work-header {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-style: bold;
  border-bottom: solid black 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#work-grid {
  background-color: #a6bbe2;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.skills-list {
  list-style-type: none;
}

.profile-container-contact {
  background-color: var(--grid-color);
  height: 400px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  min-width: 400px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

#logo {
  max-height: 100px;
  max-width: 120px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  margin-left: 15px;
}

.site-image {
  width: 80%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.portfolio-page-container {
  background-color: #a6bbe2;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  border-top-left-radius: 2%;
}

.site-image-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-description-container {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
}

.site-background-container, .preview-container {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-bottom: solid black 1px;
}

.preview-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies {
  color: #615d5d;
  font-size: 14px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  background-color: var(--grid-color);
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
 }
 /* end grid fallback */

@supports (display: grid) {
 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  }

  .grid__item {
  background-color: var(--grid-color);
  width: auto;
  min-height: auto;
  margin: 10px;
  padding: 30px;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #e61212;
  }
  50% {
    fill: #e6d818;
  }
  100% {
    fill: #f76414;
  }
}

.cleveland {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.circles{
  position: -ms-page;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
  right: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(12){
  right: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(13){
  right: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(14){
  right: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(15){
  right: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(16){
  right: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(17){
  right: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(18){
  right: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(19){
  right: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(20){
  right: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}